/* 
colors:#fb5012, #dec5e3, #353535
Potentilacolors:#D3F8E2, 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #d3f8e2;
  color: #54635a;
  line-height: 1;
  letter-spacing: 0px;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #54635a;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.border-btm {
  border-bottom: 1px solid #353535;
}

/* Margin and padding */
.py--1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.py--2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px--1 {
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #dcf9e8;
}
.nav-items {
  display: flex;
  gap: 3rem;
}
.nav-logo {
  font-size: 4.8rem;
  color: #3f4a44;
}
.nav-item a:visited,
.nav-item a:link {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: none;
  transition: all 0.3s ease;
}
.nav-item a:hover,
.nav-item a:active {
  color: #94ae9e;
}

/* HERO */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}
.heading-secondary.hero-header {
  font-size: 8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 2rem 6rem;
  background-color: #edfcf3;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
  margin-top: 5rem;
}

.btn:active,
.btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #fb5012;
  transform-origin: left center;
  transform: scale(1.1);
}

#hero-section .btn {
  margin-top: 10rem;
}
.hero-img-container {
  background: url('../img/beach-chairs.webp') no-repeat center bottom/cover;
  border-radius: 20px;

  background-image: linear-gradient(
      to left top,
      hsla(16, 97%, 53%, 0.256),
      hsla(144, 73%, 90%, 0.45)
    ),
    url('../img/beach-chairs.webp');
}

/****************************************************
 * Front-end mentor 
 ****************************************************/
.heading-secondary {
  font-size: 3rem;
  letter-spacing: -3px;
  margin-bottom: 8rem;
  color: #3f4a44;
}

.heading-tertinary {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 600;
  margin-bottom: 5rem;
  line-height: 1.2;
}

.text-description {
  font-size: 2.4rem;
  line-height: 1.5;
}

.bg-secondary {
  background-color: #dcf9e8;
}

.text-highlight {
  color: #fb5012;
}

.grid--sections {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 10rem;
}

.icon {
  color: #fb5012;
  font-size: 4rem;
  margin-right: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.list-description {
  font-size: 2.4rem;
  margin: 4rem 0 3rem 0;
}

/****************************************************
 * Footer 
 ****************************************************/
#footer {
  background-color: #edfcf3;
}

#footer .flex .text-content {
  font-size: 2rem;
  font-style: italic;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mentor {
  font-size: 1.6rem;
}

.mentor .list-item a {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.mentor .list-item a:hover {
  color: #fb5012;
}
.frontend-end {
  grid-template-columns: 6fr 4fr;
}
