.DS_Store
.vscode
.vscode/settings.json
projects/sample-websites/sass-portfolio-project/node_modules/
projects/sample-websites/sass-portfolio-project/package-lock.json
projects/sample-websites/sass-portfolio-project/package.json
projects/sample-websites/sass-portfolio-project/scss/
