.DS_Store
.vscode
.vscode/settings.json
/sample-websites/sass-portfolio-project/node-modules/
/sample-websites/sass-portfolio-project/scss/
/sample-websites/sass-portfolio-project/package-lock.json
/sample-websites/sass-portfolio-project/package.json