:root {
  --font-stack: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --color-font: #170c00;
  --color-right-bg: #b85f00;
  --color-left: #d0ebff;
}

body {
  font-family: var(--font-stack);
  color: var(--color-font);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-font);
}

.flex {
  display: flex;
}

.card-container {
  height: 100vh;
}

/* Left container */
#left {
  flex: 2;
  background: url(../img/orange.jpg) no-repeat center center/cover;
  text-align: center;
  position: relative;
}
#left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.left-container {
  position: relative;
  height: 100%;
  padding-top: 50px;
}

.img-creator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Right */
#right {
  flex: 3;
  background-color: var(--color-right-bg);
}
.right-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

form {
  width: 80%;
}

.form-item {
  position: relative;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
  gap: 3rem;
  justify-content: space-between;
}

.text {
  position: absolute;
  text-transform: uppercase;
  left: 0;
  width: 100%;
}
