@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --font-size: 2rem;
}

body {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-family: 'Poppins';
}

.age-calculator {
  background-color: var(--white);
  padding: 4rem;
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  width: 43.75rem;
}

.form {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--smokey-grey);
  padding-bottom: 3rem;
  position: relative;
  font-family: inherit;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
}

.form-label {
  margin-bottom: 1rem;
}

.form-input {
  display: inline-block;
  max-width: 8rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border: 1px solid var(--light-grey);
  font-family: inherit;
  font-weight: 700;
}

.form-input:invalid + .form-label,
.form-input:invalid ~ .err {
  color: red;
}

.err {
  color: transparent;
}

.arrow-btn {
  background-color: var(--purple);
  padding: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  transition: all 0.2s;
}
.arrow-btn:hover {
  transform: translate(50%, 45%);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.btn {
  display: inline-block;
  padding: 0.8rem; /* Add the desired padding */
  border: none;
  background: url('../assets/images/icon-arrow.svg') no-repeat;
  background-size: cover; /* Adjust this as needed */
  width: auto; /* Let the width adjust based on content */
  cursor: pointer;
}

.calculated {
  padding-top: 2rem;
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.2;
}

.calculated-data {
  color: var(--purple);
}
